<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiPrimerProyecto"
        tools:targetApi="31" >
        <activity
            android:name=".juegobola.GameV"
            android:exported="false" />
        <activity
            android:name=".juegobola.MainA"
            android:exported="false" />
        <activity
            android:name=".juegobola.BallGame"
            android:exported="false" />
        <activity
            android:name=".juegobola.MainActivit"
            android:exported="false" />
        <activity
            android:name=".audios.AudiosActivity"
            android:exported="false" />
        <activity
            android:name=".mediaPlayer.Reproductor"
            android:exported="false" />
        <activity
            android:name=".mediaPlayer.videos"
            android:exported="false" />
        <activity
            android:name=".camera.ListadoMultimedia"
            android:exported="false" />
        <activity
            android:name=".camera.CamaraFotos"
            android:exported="false" />
        <activity
            android:name=".camera.CameraHub"
            android:exported="false" />
        <activity
            android:name=".firebaseapp.FbConAutG"
            android:exported="false" />
        <activity
            android:name=".firebaseapp.FbSinAut"
            android:exported="false" />
        <activity
            android:name=".firebaseapp.MainActivityFb"
            android:exported="false" />
        <activity
            android:name=".appChistes.ChistesNorris"
            android:exported="false" />
        <activity
            android:name=".dataBase.HUBActivity"
            android:exported="false" />
        <activity
            android:name=".dataBase.RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".dataBase.LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".juegoDado.JugadoresActivity"
            android:exported="false" />
        <activity
            android:name=".juegoDado.ThirdActivity"
            android:exported="false" />
        <activity
            android:name=".juegoDado.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".juegoDado.MainActivity"
            android:exported="false" />
    </application>

</manifest>